html {
    background: url(media/simple.gif) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    position: relative;
    padding-bottom: 50px; /* Add a bottom padding */}

body {
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    margin: 0; /* Add this to remove any default margin */
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 60%;
    position: relative;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-height: calc(100vh - 120px);
    max-width: 800px;
    transition: all 0.2s ease-in-out;
}

.post img {
    width: 100%;
    max-height: 400px;
    max-width: 400px;
    border-radius: 10px;
}



.post heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.post h1 {
    text-align: center;
}

.post h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post h3 {
    width: 100%;
    text-align: left;
}
.post .date {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
    text-align: right;
    width: 100%;
}

.post p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.post ul {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.post li {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: linear-gradient(to top, #f5f5f5 0%, #dcdcdc 100%);
    transition: all 0.5s ease-in-out;
    width: 90%;
    color: #6B3FA0;
}

.post li img {
    max-width: 100%;
    max-height: 150px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.post li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.post a {
    text-align: center;
    display: block;
    color: purple;
    text-decoration: none;
    font-size: 24px;
    padding: 20px;
}

.post img.border {
    border: 2px solid transparent;
    border-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
    border-image-slice: 1;
}

.post .section-line {
    background-color: #444;
    height: 2px;
    margin: 20px 0;
    width: 80%;
}


.post .title-line {
    background: linear-gradient(to right, #444 0%, #ccc 100%);
    height: 4px;
    margin: 20px -20px;
    width: calc(100% + 40px);
    border-radius: 10px;
    display: block;
    position: relative;
}

.post .title-line::before,
.post .title-line::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.post .title-line::before {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #444;
}

.post .title-line::after {
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ccc;
}

.project-note-content {
    margin-top: 20px;
}

.bullet-point {
    margin-left: 30px;
    text-indent: -20px;
    margin-top: 10px; /* increased margin-top */
    margin-bottom: 10px; /* added margin-bottom */
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    background-color: rgba(0, 191, 255, 0.9);
    opacity: 0.7;
    transition: width 0.2s;
    overflow: hidden;
}

#sidebar:hover {
    width: 200px;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar li {
    margin: 5px 0;
    text-align: center;
}

#sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

#sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

#sidebar:hover + .post {
    transform: translateX(-100px);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border: 8px solid #ccc;
    border-radius: 50%;
    margin: 20px auto;
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border: 4px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
    border-color: #6B3FA0;
}

.social-icons i {
    color: #6B3FA0;
    font-size: 24px;
}
